html {
  min-height: 100vh;
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

nav,
menu,
header,
footer,
aside,
article,
section,
aside,
figure,
figcaption {
  display: block;
}

input,
textarea,
button {
  font-family: inherit;
}

ul li {
  list-style: none;
}

img,
picture {
  max-width: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  color: #6c7279;
  line-height: 1.67;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  max-width: 1200px;

  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ---wrapper--- */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;

  overflow: hidden;
}
/* ---main content--- */
.content {
  flex-grow: 1;
}

/* ---header--- */
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.header.fixed {
  position: fixed;
  background-color: #2c3049;
}

.header.fixed .header__inner {
  height: 5rem;
  border-bottom: none;
}

.header__logo {
  height: 24px;
}

.header__burger {
  display: none;
}

.header__inner {
  height: 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #515369;
}

/* ---nav--- */
.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav__item {
  list-style: none;
}

.nav__item:not(:first-child) {
  margin-left: 60px;
}

.nav__link {
  color: #ffffff;
  font-size: 0.813rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.75;
  transition: opacity 0.25s;
}

.nav__link:hover {
  opacity: 1;
}

/* Burger-menu */
.burger-menu {
  width: 30px;
  height: 24px;

  border: none;
  cursor: pointer;
  background-color: transparent;
  position: relative;
}

.burger-menu.active .burger-menu__item {
  background-color: transparent;
  transition: all 0.15s linear;
}

.burger-menu.active .burger-menu__item:after {
  top: 0;
  transform: rotate(45deg);
}

.burger-menu.active .burger-menu__item:before {
  top: 0;
  transform: rotate(-45deg);
}

.burger-menu__item {
  height: 4px;
  width: 100%;

  background-color: #66697e;

  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;

  transform: translate(0, -50%);
  cursor: pointer;
  transition: all 0.5s linear;
}

.burger-menu__item:before,
.burger-menu__item:after {
  content: "";
  width: 100%;
  height: 4px;

  background-color: #66697e;

  display: block;
  position: absolute;
  top: 10px;
  right: 0;

  transition: all 0.3s linear;
}

.burger-menu__item:after {
  top: -10px;
  left: 0;
}

/* ---intro--- */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 46.25rem;
  background: #2c3049 url("../images/intro/intro_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 6.25rem;
}

.intro__inner {
  width: 100%;
  max-width: 58rem;
  text-align: center;
  margin: 0 auto;
}

.intro__title {
  color: #ffffff;
  line-height: 1.1;
  font-size: 4rem;
  font-weight: 700;
  font-family: "Open Sans";

  text-transform: uppercase;

  margin: 0 0 2.5rem;
}

.intro__subtitle {
  color: #fff;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.5;

  margin: 0 0 4.75rem;
}

/* ---button btn--- */
.btn {
  color: #fff;
  font-size: 0.813rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;

  border: none;
  border-radius: 2px;
  padding: 1rem 3rem;

  cursor: pointer;
  transition: background-color 0.2s linear;
}

.btn--red {
  background-color: #e84545;
}

.btn--red:hover {
  background-color: #be134f;
}

/* ---features--- */
.features__container {
  padding: 6.5rem 0;
}

.features__inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 -4.5rem;
}

.features__item {
  display: flex;
  width: 33.3333%;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding: 0 2.5rem;
  margin: 0 0 4.5rem;
}

.features__icon {
  margin-bottom: 1.5rem;
}

.features__icon--1 {
  width: 60px;
  height: 60px;
  background: url("../images/features/features_sprite.png") -87px -75px;
}

.features__icon--2 {
  width: 73px;
  height: 60px;
  background: url("../images/features/features_sprite.png") -94px -5px;
}

.features__icon--3 {
  width: 41px;
  height: 60px;
  background: url("../images/features/features_sprite.png") -177px -75px;
}

.features__icon--4 {
  width: 56px;
  height: 60px;
  background: url("../images/features/features_sprite.png") -177px -5px;
}

.features__icon--5 {
  width: 72px;
  height: 60px;
  background: url("../images/features/features_sprite.png") -5px -75px;
}

.features__icon--6 {
  width: 79px;
  height: 60px;
  background: url("../images/features/features_sprite.png") -5px -5px;
}

.features__title {
  color: #2d3033;
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 1.5rem;
}

.features__text {
  color: #6c7279;
  font-size: 0.875rem;
  line-height: 1.5;
}

/* ---works--- */
.works {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.works__item {
  position: relative;
  padding-bottom: 72.92%;
  text-align: center;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.works__item:nth-child(4n) {
  border-right: none;
}

.works__item:hover .works__content {
  opacity: 1;
}

.works__photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.works__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(231, 69, 69, 0.9);
  opacity: 0;
  transition: opacity 0.35s ease;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.works__title {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  margin: 0;
}

.works__text {
  color: #fff;
  font-size: 0.875rem;
}

/* ---team--- */
.team__container {
  padding: 6.25rem 15px;
}

.team__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: -1.5rem;
}

.team__item {
  width: 23%;

  margin-bottom: 1.5rem;
}

.team__photo {
  position: relative;

  padding-bottom: 100%;
  margin-bottom: 1.2rem;
}

.team__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.team__name {
  font-size: 1.375rem;
  color: #2d3033;

  margin-bottom: 0.15rem;
}

.team__prof {
  color: #e84545;
  font-size: 0.813rem;
  line-height: 1;
  text-transform: uppercase;

  margin-bottom: 1.5rem;
}

.team__text {
  color: #6c7279;
  font-size: 0.875rem;
  line-height: 1.5;

  margin-bottom: 1.5rem;
}

/* ---social--- */
.socials {
  display: flex;
}

.socials__item {
  display: block;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #c6cacc;
}

.socials__item:hover .socials__icon {
  fill: #e84545;
}

.socials__item:not(:last-child) {
  margin-right: 0.5rem;
}

.socials__icon {
  display: block;
  height: 24px;
  fill: #c6cacc;

  transition: fill 0.15s linear;
}

/* ---reviews--- */
/* фиксируем высоту при загрузке страниц */
.reviews__slider {
  height: 480px;
  overflow: hidden;
}
/* а после инициализации слайдера делаем её auto */
/* таким образом слайдер не сильно прыгает при загрузке*/
.reviews__slider.slick-initialized {
  height: auto;
}

.reviews__item {
  display: flex;
  flex-wrap: wrap;

  background-color: #53354a;
}

.reviews__photo {
  width: 50%;
  position: relative;
}

.reviews__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews__content {
  color: #ffffff;
  width: 50%;

  padding: 130px 0;
}

.reviews__info {
  width: 100%;
  max-width: calc(1200px / 2 - 15px);

  padding-left: 5.25rem;
}

.reviews__text {
  line-height: 1.1666;
  font-family: "Cardo";
  font-size: 2.25rem;
  font-style: italic;
  font-weight: 400;

  margin-bottom: 2rem;
}

.reviews__author {
  line-height: 1.5;
  font-size: 0.813rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* slick slider */
.slick-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: flex;
  transform: translate(-50%, 0);

  padding: 0;
}

.slick-dots li {
  margin: 0.25rem;
}

.slick-dots button {
  width: 20px;
  height: 20px;
  background: #fff;
  opacity: 0.5;
  border: 0;
  border-radius: 50%;
  color: transparent;
  padding: 0;
  font-size: 0;

  cursor: pointer;
}

.slick-active button {
  opacity: 1;
}

/* ---download--- */
.download__container {
  color: #2d3033;
  text-align: center;
  padding: 6.25rem 0;
}

.download__title {
  font-size: 1.75rem;
  font-weight: 300;

  margin: 0 0 1rem;
}

.download__desc {
  font-size: 0.813rem;
  font-weight: 700;
  text-transform: uppercase;

  margin: 0 0 2rem;
}

/* ---footer--- */
.footer {
  background-color: #3a3e64;
}

.footer__inner {
  display: flex;
  flex-wrap: wrap;

  padding: 4.5rem 0;
}

.footer__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.333%;
  color: #fff;
  text-align: center;
  padding: 0 2.5rem;
}

.footer__title {
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;

  margin: 0 0 1.2rem;
}

.footer__adress {
  font-size: 0.875rem;
  font-style: normal;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.5);
}

.footer__socials .socials__item {
  border: 2px solid #fff;
}

.footer__socials .socials__icon {
  fill: #fff;
}

.footer__text {
  font-size: 0.875rem;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.5);
}

/* ---copyright--- */
.copyright {
  background-color: #313454;
  text-align: center;

  font-size: 0.875rem;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.5);

  padding: 1.2rem 0;
}

.copyright__text:not(:last-child) {
  margin-bottom: 0.5rem;
}

.copyright__link {
  color: #fff;
}

.copyright__link--main {
  color: #e84545;
  font-weight: bold;
}

/* ---Media Queries--- */

/* Устройства Large, тут проверяю по 992рх */
@media (max-width: 1199.98px) {
  /* container */
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  /* intro */
  .intro__inner {
    max-width: 50rem;
  }

  .intro__title {
    font-size: 3.5rem;
  }

  /* reviews */
  .reviews__info {
    max-width: calc(100vw / 2 - 30px);
  }

  .reviews__text {
    font-size: 2rem;
  }
}

/* Устройства Medium, тут проверяю по 768рх */
@media (max-width: 991.98px) {
  /* header */
  .header__inner {
    height: 5rem;
  }

  /* nav */
  .nav {
    position: absolute;
    width: 100%;
    left: -300vw;
    top: 100%;
    z-index: 15;
    background-color: #2c3049;
    padding: 2rem;

    transition: left 0.3s linear;
  }

  .nav.active {
    left: 0;
  }

  .nav__list {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .nav__item:not(:first-child) {
    margin-left: 0;
  }

  .nav__link {
    display: block;
    padding: 1.25rem;
    font-size: 1.875rem;
  }

  /* burger */
  .header__burger {
    display: block;
  }

  /* intro */
  .intro {
    min-height: 40rem;
  }

  .intro__title {
    font-size: 2.5rem;
  }

  /* features */
  .features__container {
    padding: 3.5rem 30px;
  }

  .features__item {
    padding: 0 1rem;
  }

  /* works */
  .works {
    grid-template-columns: repeat(2, 1fr);
  }

  .works__item:nth-child(2n) {
    border-right: none;
  }

  /* team */
  .team__container {
    padding: 3.5rem 30px;
  }

  .team__item {
    width: 23.5%;
  }

  .team__prof {
    font-size: 0.688rem;
    margin-bottom: 0.8rem;
  }

  /* reviews */
  .reviews__content {
    padding: 3.5rem 0;
  }

  .reviews__info {
    padding-left: 3rem;
  }

  /* download */
  .download__container {
    padding: 3.5rem 30px;
  }

  /* footer */
  .footer__inner {
    padding: 3.5rem 0;
  }

  .footer__item {
    padding: 0 0.5rem;
  }
}

/* Устройства Small, тут проверяю по 576рх */
@media (max-width: 767.98px) {
  /* nav */
  .nav {
    position: absolute;
    height: calc(100vh - 5rem);
  }

  .nav__list {
    height: 100%;
    justify-content: center;
  }

  /* intro */
  .intro {
    padding: 9rem 0 3rem 0;
    min-height: auto;
  }

  .intro__title {
    font-size: 2rem;
  }

  .intro__subtitle {
    font-size: 1.2rem;
    margin: 0 0 2.5rem;
  }

  /* features */
  .features__inner {
    margin: 0 0 -2rem;
  }

  .features__item {
    width: 50%;
    margin: 0 0 2rem;
  }

  /* team */
  .team__item {
    width: 49%;
  }

  /* reviews */
  .reviews__item {
    flex-wrap: wrap;
  }

  .reviews__photo,
  .reviews__content {
    width: 100%;
  }

  .reviews__photo {
    padding-bottom: 56.25%;
  }

  .reviews__info {
    max-width: 100%;
    padding: 0 30px;
  }

  .reviews__text {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .reviews__author {
    font-size: 0.688rem;
  }

  /* download */
  .download__desc {
    font-size: 0.688rem;
    margin: 0 0 1.5rem;
  }

  /* footer */
  .footer__inner {
    padding: 2.5rem 0;
  }

  .footer__item {
    width: 100%;
  }

  /* .footer__item:last-child {
    width: 100%;
  } */

  .footer__item:not(:last-child) {
    margin-bottom: 2rem;
  }

  /* copyright */
  .copyright {
    line-height: 1.2;
  }
}

/* Устройства X-Small, тут проверяю по 320рх */
@media (max-width: 575.98px) {
  /* container */
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* intro */
  .intro {
    padding: 7.5rem 0 2rem 0;
  }

  /* features */
  .features__item {
    width: 100%;
  }

  .features__icon,
  .features__title {
    margin-bottom: 0.8rem;
  }

  /* works */
  .works {
    grid-template-columns: repeat(1, 1fr);
  }

  .works__item {
    border-right: none;
  }

  /* reviews */
  .reviews__info {
    padding: 0 15px;
  }

  .reviews__text {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .reviews__author {
    font-size: 0.625rem;
  }

  /* team */
  .team__item {
    width: 100%;
  }
}
