*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #6c7279;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

/* ---header--- */
.header {
  background-color: #2f324c;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 0;

  border-bottom: 1px solid #515369;
}

/* ---nav--- */

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav__item {
  list-style: none;
}

.nav__item:not(:first-child) {
  margin-left: 60px;
}

.nav__link {
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.75;
  transition: opacity 0.25s;
}

.nav__link:hover {
  opacity: 1;
}
